.d-f{
    display: flex;
}
.jc-sb{
    display: flex;
    justify-content: space-between;
}
.ai-c{
    display: flex;
    align-items: center;
}
.fd-c{
    display: flex;
    flex-direction: column;
}
.ta-c{
    text-align: center;
}
.w-f{
    width: 100%;
}
.h-f{
    height: 100%;
}
.btn{
    border: unset;
    background: unset;
    outline: unset;
}